.form-container {
    padding: 100px 50px;
    width: 700px;
    heigth: auto;
    background-color: silver;
}

#formBasicAddress {
    height: 100px;
    
}

#add-button{
    float: right;
}
#formBasicEducation{
    margin-bottom: 20px;
}

#formBasicExperience{
    margin-bottom: 20px;
}

#multipleInputContainer{
    margin-bottom: 50px;
}