.edit-resume-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 150px;
}

.form-container {
    padding: 100px 50px;
    width: 700px;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: silver;
}

#formBasicAddress {
    height: 100px;
    
}

#add-button{
    float: right;
}

#remove-button{
    float: right;
    margin-left: 20px;
    background-color: red;
    color: white;
}

#formBasicEducation{
    margin-bottom: 20px;
}

#formBasicExperience{
    margin-bottom: 20px;
}

#multipleInputContainer{
    margin-bottom: 50px;
}

.form-control{
    height:auto;
}

.border-0 {
    background: none;
    border: none;
}

.border-0:focus{
    outline: none;
}

.badge:focus{
    outline:none;
}

.label {
    font-size: large;
}

#skills-input-group{
    margin-top: 70px;
}
