.edit-resume-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-container {
    padding: 100px 50px;
    width: 700px;
    height: auto;
    background-color: silver;
}

#formBasicAddress {
    height: 100px;
    
}

#add-button{
    float: right;
}

#remove-button{
    float: right;
    margin-left: 20px;
    background-color: red;
    color: white;
}

#formBasicEducation{
    margin-bottom: 20px;
}

#formBasicExperience{
    margin-bottom: 20px;
}

#multipleInputContainer{
    margin-bottom: 50px;
}

