.pdf-button-container{
    display:flex;
    flex-direction: column;
}

#pdf-icon{
    font-size:40px;
    color: red;
    float:right;
    margin-bottom: 10px;
    cursor: pointer;
}


.resume-template-main-container {
    width: 8.25in;
    height: 11.75in;
    padding: 20mm;
    border: 1px solid;
    font-family: 'Open Sans', sans-serif;
}

.details-container{
    padding-left: 40px;
}

.resume-template-main-container h1 {
    color: blue;
}

.container .row {
    margin-bottom: 1rem;
}

.container .row>[class^="col"] {
    padding-right: 0;
    padding-left: 0;
}

.box {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #e5edf5;
    border: 1px solid #c9c1d5;
    color: #5f5f5f;
    width: 100%;
}l
.col{
    padding:0px !important;
}

.container{
    margin-top: 50px;
}

.resume-topic{
    color: blue;
    font-size: 7mm;
    text-align: right;
}

.resume-content{
    text-align: left;
    font-size: 4.5mm;
}

.resume-sub-topic{
    font-size: 4mm;
    text-align: right;
}

.cursive{
    font-size: 3.5mm;
    font-family: 'Merriweather', serif;
}

#skills{
    margin-top: 30px;
    margin-left: 50px;
}

.skill-caption{
    padding-top: 25px;
}