.navbar{
    display:flex;
    /* justify-content: space-between; */
    background-color: silver;
    height: 100px;
    align-items: center;
}

.navbar-collapse{
    
    height: 100px;
}

.navbar-nav a{
    padding-left: 20px;
    font-size: 22px;
}


.navbar-brand{
    font-size: 30px;
    /* color: rgb(76, 76, 247); */
}